:root {
  --black: #000000;
  --whiteblue: #f8feff;
  --lightblue: #b7d3fa;
  --darkblue: #5069ad;
  --background-color: #b9defa;
  --yellow: black;
  --default: "Source Code Pro", monospace;
}

/* Default css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
