:root {
  --whiteblue: #f8feff;
  --lightblue: #2662b7;
  --darkblue: #021b60;
  --yellow: #e2c044;
  --default: 'Source Code Pro', monospace;

}

/* Default css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: black;
  }

/* Slider CSS */
/* Placere slideren in midden via display grid og place items center. */
  .slider-container {
    display: grid;
    place-items: center;
    height: 450px;
    background-image: url("../media/background-img.jpg");
    background-attachment: fixed;
    background-size: cover;
/* transform-style: preserve-3d bruges i forbindelse med 3D-transformering for at angive,
hvordan et element og dets børn skal renderes i en 3D-omgivelse */
    transform-style: preserve-3d;
  }
  .box {
/* Posistion relativ, så .box span's posistion absolute holder sig inde for .box's dimensioner. */
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transition: 1s;
/* transform perspective 1000px, giver den 3d plads. rotateY(0deg) sætter et starts punkt
læs videre i js/script.js */
    transform: perspective(1000px) rotateY(0deg);
    margin-top: 40px;
  }
  .box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: center;
/* Se Javascript. Men her er css'en som får javascript slideren til at fungere. */
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px);
/* Desværre virker det her ikke i firefox. Men det giver reflections effekten. */
    -webkit-box-reflect: below 0px
      linear-gradient(transparent, transparent, #0004);
  }
/* Definere pladsen for billederne i slideren */
  .box span img {
    position: absolute;
    border-radius: 2%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
  }
/* knapperne som er under slideren. */
  .btns {
    box-sizing: border-box;
    display: flex;
    bottom: 10px;
    gap: 30px;
  }
  .btns .btn {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
/* Her brugere jeg css pseudo elementer til at lave knapperne. */
/* Jeg kunne også snildt have brugt font awesome, men jeg synes det var en fed øvelse at */
/* lave iconerne selv. */
  .btns .btn::before {
/* uden content: ""; bliver de ikke defineret */
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
/* Her bliver de lavet */
    border-top: 3px solid black;
    border-right: 3px solid black;
    transform: rotate(45deg);
  }
/* Her drejer jeg blot en af knapperne */
  .btns .btn.prev::before {
    transform: rotate(225deg);
  }
/* javascript slider css stopper her. */

/* Navigations css starter her */
nav {
    position: relative;
    background-color: var(--whiteblue);
    height: 170px;
    padding: 25px 0;
}
.icon-container {
  position: absolute;
  right: 3.5%;
  top: 5px;
}
.icon-container i {
  color: black;
  display: inline-block;
  font-size: 25px;
  padding: 20px;
}
.icon-container i:Hover {
  color: var(--yellow);
}
nav h2 {
  position: absolute;
  font-family: var(--default);
  left: 13%;
  top: 10px;
  font-size: 50px;
  text-decoration: none;
  color: black;
}
nav h2:hover {
  color: var(--yellow);
}
.nav-links {
    width: 100%;
    margin: auto;
}
.nav-links ul {
    text-align: right;
    margin: 0;
    margin-right: 30px;
    padding: 50px 0;
}
.nav-links ul li {
    display: inline-block;
    float: none;
    margin-top: 10px;
    font-family: var(--default);
    font-size: 17px;
}
.nav-links ul li:nth-child(1),
.nav-links ul li:nth-child(2) {
    float: left;
    margin-left: 5.5%;
}
.nav-links ul li:nth-child(3),
.nav-links ul li:nth-child(4) {
  margin-right: 5.5%;
}
.nav-links ul li a {
    margin: 0 25px;
    text-decoration: none;
    color: black;
}
.nav-links ul li a:hover {
  color: var(--yellow)
}
.logo {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}
.logo img {
    width: 100%;
    z-index: 2;
}
.logo img:hover {
    filter: invert(91%) sepia(87%) saturate(701%) hue-rotate(326deg) brightness(91%) contrast(94%);
}
.line {
    width: 45%;
    position: relative;
    position: absolute;
    height: 2px;
    margin-top: 50px;
    left: 0;
    z-index: 0;
    background-color: black;
}
.right-line {
    width: 45%;
    position: absolute;
    height: 2px;
    margin-top: 50px;
    right: 0;
    z-index: 0;
    background-color: black;
}
.main {
  width: auto;
  height: 500px;
}